@import url("https://s3.amazonaws.com/static.slid.es/fonts/montserrat/montserrat.css");

.theme-font-montserrat .themed,.theme-font-montserrat .reveal{font-family:"Open Sans", sans-serif!important;font-size:30px!important}.theme-font-montserrat .themed section,.theme-font-montserrat .reveal section{line-height:1.3!important}.theme-font-montserrat .themed h1,.theme-font-montserrat .themed h2,.theme-font-montserrat .themed h3,.theme-font-montserrat .themed h4,.theme-font-montserrat .themed h5,.theme-font-montserrat .themed h6,.theme-font-montserrat .reveal h1,.theme-font-montserrat .reveal h2,.theme-font-montserrat .reveal h3,.theme-font-montserrat .reveal h4,.theme-font-montserrat .reveal h5,.theme-font-montserrat .reveal h6{font-family:"Montserrat", Helvetica, sans-serif!important;text-transform:none!important;line-height:1.3!important;font-weight:normal!important}

body {
  font-family: "Montserrat", Helvetica, sans-serif !important
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Helvetica, sans-serif !important
}

h1 {font-size: 50px!important;}
h2 {font-size: 35px!important;}
h3 {font-size: 28px!important;font-weight: 100!important;}
h6 {font-size: 23px!important;}

#subtitle {
  font-size: 20px;
}

.list {
  text-align: left;
}

.small-text > * {
  font-size: 50% !important;
}

.title-left {
  font-size: 20px !important;
  text-align: left;
}

.chartTitle {
  font-size: 12px !important;
  margin: 0;
  padding: 0;
  display: block;
}

.circle {
  border-radius: 400px;
  padding: 2%;
  text-align: center;
  overflow: hidden;
  height: 400px;
  display: inline;
}

.v-align {
  vertical-align: middle !important;
  display: inline-block !important;
  padding: 1cm !important;
}

.m-yellow {
  background: rgba(223, 191, 3, 0.5);
}

.m-blue {
  background: rgba(39, 128, 235, 0.5);
}

.m-red {
  background: rgba(218, 52, 144, 0.5);
}

.expImg {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 !important;
}

.expImg > img, video {
  margin: 0 !important;
  max-height: 70vh !important;
}

.no-border {
  border-color: transparent;
  height: auto;
}

.collection {
  font-size: medium;
  border: none;
}
.collection > * {
  border: none !important;
}
